<footer class="mt-3">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Harsh3001-sys"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://instagram.com/harsh__joshi__18"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/harsh-joshi-2998ba334"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
    <div class="f-info-brand">&copy; VistaStay Private Limited</div>
    <div class="f-info-links">
        <a href="/listings/privacy">Privacy</a>&nbsp;&nbsp;
        <a href="/listings/terms">Terms</a>
    </div>
    </div>
</footer>