body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.container, main{
    flex: 1;
}

.navbar{
    background-color: #ffffff;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-socials a{
    color: #222222;
    text-decoration: none;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-card{
    text-decoration: none;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: #ffffff !important;
}

.edit-btn{
    margin-right: 2rem;
}


.show-img{
    height: 30vh;
    object-fit: cover !important;
}

.btns{
    display: flex;
}

#map{
    height: 15rem !important; 
    width: 25rem !important;
}

/* Reduce left-right spacing on mobile */
@media (max-width: 576px) {
    .container {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}

@media (max-width: 576px) {
    .form-control, .row {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
}

